In [1]:
print("welcome python")

welcome python

In [2]:
print("apssdc")

apssdc

# welcome apssdc
## welcome apssdc
### welcome apssdc
#### welcome apssdc
##### welcome apssdc
###### welcome apssdc

**students**

*students*

***bold&italic***

this is the firstline.  
this is second line.  
this is third line.

sjgsdglhanjd gfigoeyiifpk  sjgfuuohvfjs sfvhgusfggij.vdvscsvsjhhvsbjvsjskssbhssnfjsb fshdjsfvhsgsvjshkjgfjsb vhshfjgfjdfbdhjdhvjdbdbdbjdbj

## list,sublist

- one
- two
- three
- four
- five
    - six
    - seven
    - eight
        - nine
        - ten

1.siddhodhana  
2.nandini  
3.sai

## comments
- programmer or user readable information
- comment doesnot exicute
- it is represented using symbol '#'

### Variable
- camelcase
- characters
- shouldnot include spaces and special characters
- online_course(can include underscore and digits)
- shouldnot use keywords as a variable names

In [3]:
123abc=10
123abc

SyntaxError: invalid syntax (<ipython-input-3-95987bdde102>, line 1)

In [4]:
abc123=10
abc123

10

In [5]:
_abc=20
_abc

20

In [6]:
onlineclass="python"
onlineclass

'python'

In [7]:
PYTHON=100
PYTHON

100

In [8]:
python=200
python

200

### Datatypes
- int(all integer values)
- float(number with decimal points)
- string(all the characters and group of characters can be called as astring)
- complex(number with real and imaginary part)
- bool(True,False)

In [9]:
a=-100
b=45.8
c='p'
d="1+2j"
e=1+2j

In [12]:
print(type(a))
print(a)

<class 'int'>
-100

In [13]:
print(type(b))
print(b)

<class 'float'>
45.8

In [14]:
print(type(c))
print(c)

<class 'str'>
p

In [15]:
print(type(d))

<class 'str'>

In [16]:
print(type(e))

<class 'complex'>

In [17]:
a=True
print(type(a))

<class 'bool'>

### Typecasting
- converting the data from one datatype to other datatype

In [18]:
_abc=100
print(type(_abc))

<class 'int'>

In [19]:
z=str(_abc)
print(type(z))

<class 'str'>

In [20]:
z=float(_abc)
print(type(z))

<class 'float'>

In [22]:
z=complex(_abc)
print(type(z))
print(z)

<class 'complex'>
(100+0j)

In [23]:
a="covid19"
print(type(int(a)))

ValueError: invalid literal for int() with base 10: 'covid19'

In [24]:
a="12345"
print(type(int(a)))

<class 'int'>

In [25]:
print(type(complex(a)))

<class 'complex'>

In [26]:
print(type(float(a)))

<class 'float'>

In [27]:
a=45.3
print(type(int(a)))

<class 'int'>

In [28]:
a=45.3
print(type(complex(a)))

<class 'complex'>

In [29]:
a=45.3
print(type(str(a)))

<class 'str'>

In [30]:
a=1+2j
print(int(a))

TypeError: can't convert complex to int

In [31]:
a=1+2j
print(str(a))

(1+2j)

In [32]:
a=1+2j
print(float(a))

TypeError: can't convert complex to float

### input and output methods
- input (reading the information or data from the user)------***input()***
- output(displaying the information or data to the user)-----***print()***

In [33]:
a=input()
a

123

'123'

In [34]:
a=input()
a

567

'567'

In [35]:
a=input()
a

980

'980'

In [36]:
a=input("enter a number")
a

enter a number456

'456'

In [37]:
a=int(input("enter a number"))
a

enter a number567

567

In [39]:
print("enter anumber")
a=float(input("enter anumber"))
a

enter anumber
enter anumber678

678.0

In [41]:
a=11
b=12
c=13
print(a)
print(b)
print(c)
print(a,b,c)

11
12
13
11 12 13

In [42]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [43]:
print(a,end="\t")
print(b)
print(c)

11	12
13

In [44]:
print(a,b,c)

11 12 13

In [45]:
print(a,b,c,sep=" , ")

11 , 12 , 13

In [46]:
print(a,b,c,sep="@",end="\t")
print(a,b,c)

11@12@13	11 12 13

In [47]:
print(a,b,c,sep="")

111213

In [48]:
a=10
a=23
a=45
print(a)

45

 write a program to read three inputs from the user print that inputs seperated with $ symbol end with % symbol