## Data Structures

- Data is nothing but information
- Data structures are the way of organizing or storing data
- The main used of data structures is we can access data and we can apply some progmatical technicals
- Types of DS
    - List
    - Tuple
    - Dictionary
    - Set

## List

- Collection of Hetrogenous data
- Ordered and mutable(we can change once we defined data in list)
- Allows duplicate elements or items
- represents by square brackets []

In [2]:
## List 

li = ['Nandini',130663,9.8]
li
type(li)

list

In [4]:
li[0]

'Nandini'

In [5]:
li[-1]

9.8

In [7]:
li[0] = 'Sneha'

In [8]:
li

['Sneha', 130663, 9.8]

In [9]:
li1 = [1,2,3,4,5,'a','b']
li1[1:5]

[2, 3, 4, 5]

In [10]:
li1[::-1]

['b', 'a', 5, 4, 3, 2, 1]

In [20]:
## Built-in functions

l = [60,2,8,0,1,6,3]
print(type(l))
print('length',len(l))
print('max value',max(l))
print('min value',min(l))
print('sum value',sum(l))
print('sorted list',sorted(l))
print('Sorted in reverse order',sorted(l,reverse = True))

<class 'list'>
length 7
max value 60
min value 0
sum value 80
sorted list [0, 1, 2, 3, 6, 8, 60]
Sorted in reverse order [60, 8, 6, 3, 2, 1, 0]

In [18]:
l = [60,2,8,0,1,6,3,'k']
sum(l)
max(l)
min(l)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [21]:
## concatination

l1 = [1,2,3,4,5]
l2 = [5,6,7,8,9]
s = l1 + l2
s

[1, 2, 3, 4, 5, 5, 6, 7, 8, 9]

In [25]:
## nested list

li = [1,2,3,4,[5,6,7],8,9,10]
print(li[1])
print(li[4][1]) # li[outer list index][sub/nested list index]

2
6

In [26]:
print(dir(list),end=' ')

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [27]:
li = [12,5,7,9,3]
li.append('hello')
li

[12, 5, 7, 9, 3, 'hello']

In [28]:
li

[12, 5, 7, 9, 3, 'hello']

In [29]:
li.clear()

In [30]:
li

[]

In [31]:
del li

In [32]:
li

NameError: name 'li' is not defined

In [35]:
li1 = [1,2,5]
li2 = li1.copy()
li2

[1, 2, 5]

In [36]:
l = [3,65,8,4,3]
l.count(65)

1

In [37]:
l.count(3)

2

In [39]:
l = [1,2,3,4]
h = [5,6,7,8]
l.extend(h)  # [1, 2, 3, 4, 5, 6, 7, 8]
h.extend(l)
print(l)
print(h)

[1, 2, 3, 4, 5, 6, 7, 8]
[5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8]

In [41]:
li1

[1, 2, 5]

In [42]:
li1[2]

5

In [44]:
li1.index(5)

2

In [45]:
li1

[1, 2, 5]

In [46]:
li1.insert(2,'d') ## (index position,element)

In [47]:
li1

[1, 2, 'd', 5]

In [48]:
li1.pop()

5

In [49]:
li1

[1, 2, 'd']

In [50]:
li1.pop()

'd'

In [51]:
li1

[1, 2]

In [52]:
li1.remove(1)

In [53]:
li1

[2]

In [54]:
l = [3,7,6,35]
l.reverse()

In [55]:
l

[35, 6, 7, 3]

In [56]:
l.sort()

In [57]:
l

[3, 6, 7, 35]

In [60]:
## dynamic input

s = input().split()
print(s)
res = list(map(int,s))
print(res)

1 5 6 7 8
['1', '5', '6', '7', '8']
[1, 5, 6, 7, 8]

In [61]:
# input: 1 2 3 4 5
# output: 1 4 9 16 25

li = input().split() ## 1 2 3 4 5
li1 = []
for i in li:
    li1.append(int(i)**2) ## 1^2  2^2  3^2 4^2 5^2

print(li1)

1 2 3 4 5
[1, 4, 9, 16, 25]

In [63]:
s = 'india'
for i in s:
    print(i)

i
n
d
i
a

## Tuple

- It is one of the data strucutes
- Represent with ()
- Ordered and Immutable in nature
- Used to hetrogenous data

In [64]:
## empty tuple 

t = ()
type(t)

tuple

In [65]:
t = (1,2,3,'a',7,8.5)
t

(1, 2, 3, 'a', 7, 8.5)

In [66]:
t[0]

1

In [68]:
t[1] = 'r'

TypeError: 'tuple' object does not support item assignment

In [69]:
t[-1]

8.5

In [70]:
t[0:4]

(1, 2, 3, 'a')

In [71]:
t[::-1]

(8.5, 7, 'a', 3, 2, 1)

In [72]:
for i in t:
    print(i)

1
2
3
a
7
8.5

In [73]:
print(dir(tuple),end=' ')

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [74]:
t

(1, 2, 3, 'a', 7, 8.5)

In [75]:
t.count(2)

1

In [76]:
t.index('a')

3

In [77]:
r = list(t) ## list(tuple)
r

[1, 2, 3, 'a', 7, 8.5]

In [78]:
r.append('house')

In [79]:
r

[1, 2, 3, 'a', 7, 8.5, 'house']

In [80]:
r1 = tuple(r)

In [81]:
r1

(1, 2, 3, 'a', 7, 8.5, 'house')

In [84]:
## format 

t1 = "I am from {0} ,My name is {1}".format('Guntur','Nandini')
t1

'I am from Guntur ,My name is Nandini'

In [86]:
## format map

a = {'d':'Suresh','e':'Padma'}
print("{d}'s last name is {e}".format_map(a))

Suresh's last name is Padma

In [88]:
## translate

dic = {78: 45}
res = 'Hello world'
print(res.translate(dic))

Hello world